{% extends 'bms/base.html' %}
{{ request }}
{% block content %}
    <div class="content-section">
        <h1>Scorecard</h1>
        <table class="table table-striped table-light">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Game #</th>
              <th scope="col">Host</th>
              <th scope="col">Guest</th>
              <th scope="col">Host Score</th>
              <th scope="col">Guest Score</th>
              <th scope="col">Round</th>
            </tr>
          </thead>
          <tbody>
          {% for game in games %}
            <tr>
                <th scope="row">{{ game.id }}</th>
                <td><a href="{% url 'team' %}{{ game.host_id }}/">{{ game.host }}</a></td>
                <td><a href="{% url 'team' %}{{ game.guest_id }}/">{{ game.guest }}</a></td>
                {% if game.host_score > game.guest_score %}
                    <td class="bg-success">
                {% else %}
                    <td>
                {% endif %}
                    {{ game.host_score }}
                </td>
                {% if game.host_score < game.guest_score %}
                    <td class="bg-success">
                {% else %}
                    <td>
                {% endif %}
                    {{ game.guest_score }}
                </td>
                <td>{{ game.round_number }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock content%}
